@media all and (orientation:portrait) 
{
	body
	{
		font-family: 'Arvo', serif;
		background:linear-gradient(to right,#292e49,#536976);
	}
	.contain
	{
		width:80vw;
		background-color:white;
	}
	input
	{
		font-family: 'Arvo', serif;
		width:40vw;
		height:35px;
		border-radius:5px;
		background-color:#E0E0E0;
		border:none;
		transition-property: border;
		transition-duration: 1s;
		transition-timing-function: linear;
		outline:none;
		padding-left: 5px;
		margin-top: 5px;
	}
    
    input:focus
	{
		border:#99CCFF;
		box-shadow: 0 0 5px 2px #99CCFF;
    }
    
	input[type="submit"]
	{
		padding-left: 0px;
		border-radius:0px;
		font-family: 'Arvo', serif;
		font-weight:bold;
		transition: 0.5s;
		width:34vw;
		height:35px;
		background:#292e49;
		transition-property: background;
		transition-duration: 1s;
		transition-timing-function: linear;
		outline:none;
		color:white;
    }
    
	input[type="submit"]:hover
	{
		background:#536976;
	}

	input:focus
	{
		outline:none;
	}
}

@media all and (orientation:landscape) 
{
  body
	{
		font-family: 'Arvo', serif;
		background:linear-gradient(to right,#292e49,#536976);
	}
	.contain
	{
		width: 35%;
		background-color:white;
	}
	input
	{
		font-family: 'Arvo', serif;
		width:20vw;
		height:5vh;
		border-radius:5px;
		background-color:#E0E0E0;
		border:none;
		transition-property: border;
		transition-duration: 1s;
		transition-timing-function: linear;
		outline:none;
		padding-left: 5px;
		margin-top: 5px;
	}
	input:focus
	{
		border:#99CCFF;
		box-shadow: 0 0 5px 2px #99CCFF;
	}
	input[type="submit"]
	{
		padding-left: 0px;
		margin-top: .5vw;
		border-radius:0px;
		font-family: 'Arvo', serif;
		font-weight:bold;
		transition: 0.5s;
		width:10vw;
		height:5vh;
		background:#292e49;
		transition-property: background;
		transition-duration: 1s;
		transition-timing-function: linear;
		outline:none;
		color:white;
	}
	input[type="submit"]:hover
	{
		background:#536976;
	}

	input:focus
	{
		outline:none;
	}
}
