
label 
{
  display: inline-block;
}
/* td 
{
    padding-top: .5em;
    padding-bottom: .5em;
} */
*
{
	font-family: 'Arvo', serif;
}
body
{
	background:linear-gradient(to right,#292e49,#536976);
}
#regForm 
{
	background-color: #ffffff;
	margin-top: 5vh;
	/* margin-left: 30vw; */
	padding: 40px;
	width: 30vw;
	min-width: 300px;
}

h1 {
  text-align: center;  
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]),textarea
{
	padding: 10px;
	width: 100%;
	font-size: 17px;
	border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
button 
{
	background-color: #4CAF50;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 17px;
	cursor: pointer;
}

button:hover 
{
	opacity: 0.8;
}

#prevBtn 
{
	background-color: #bbbbbb;
}